* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/back.png);
  min-height: 100vh;
}

nav {
  width: 100%;
  position: fixed;
  background: rgb(47, 42, 34);
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}

nav li {
  display: inline-block;
  padding: 15px 30px;
}

#runcont {
  float: right;
  background-color: grey;
}

.activetab {
  background-color: black;
}

.tabwrapper {
  display: none;
  min-height: 100vh;
}

.activemain {
  display: block;
}

.splasher {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.8em;
  font-weight: 200;
}

.splasher div {
  max-width: 90%;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

/* script view */

#scriptviewcontainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.asidecontainer {
  background-image: url(img/back.png);
  padding: 15px;
  margin-bottom: 200px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 150px 20px black;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.asidecontainer div {
/*  width: 100%;*/
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-size: 1.3em;
  user-select: none;
  cursor: default;
}

aside button {
  margin-left: 30px;
  padding: 6px 10px;
}

aside h2 {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

aside h3 {
  padding-top: 6px;
  margin-left: 20px;
  font-size: 0.9em;
  align-self: center;
}

aside pre {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  white-space: pre-wrap;
  color: white;
  border: 0.5px solid white;
}


/* leaderboard, marketplace */

#leadercont {
  max-width: 900px;
  padding-top: 130px;
  margin: 0 auto;
}

.place {
  background-color: white;
/*  border: 1px solid black;*/
  padding: 5px 10px;
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

.firstplace {
  background: linear-gradient(to bottom, rgb(255, 215, 0), rgb(218, 165, 32));
}

.secondplace {
  background: linear-gradient(to bottom, rgb(192, 192, 192), rgb(119, 136, 153));
}

.thirdplace {
  background: linear-gradient(to bottom, rgb(230, 125, 50), rgb(180, 102, 55));
}

.time {
  padding: 10px 0;
  font-size: 1.2em;
  font-family: 'Source Code Pro', monospace;
  margin-left: 30px;
}

.millis {
  padding: 17px 0 10px 0;
  font-size: 0.7em;
  font-family: 'Source Code Pro', monospace;
  margin-right: 30px;
}

.nickname {
  font-size: 1.4em;
}

.leaderscriptbutton {
  float: right;
  background-color: black;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* editor */

.splitter {
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.splitter div {
  flex: 1;
  margin: 0 10px;
  overflow-y: scroll;
  padding-top: 100px;
}

#scripteditor {
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border: 1px solid white;
  resize: vertical;
  height: 60vh;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4em;
}

section {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0 20px 0;
  border: 1px solid black;
}

section h2 {
  font-size: 1.8em;
  font-weight: 300;
}

section p {
  font-size: 1.2em;
  margin: 10px 0;
}

.function {
  font-family: 'Source Code Pro', monospace;
  padding: 0 3px;
  margin: 4px 10px 4px 0;
  display: inline-block;
  background-color: white;
  font-size: 1.1em;
  border-radius: 5px;
}

.inlinefunction {
  margin: 4px 5px;
}

.precaption {
  margin: 20px 0 5px 0;
  display: block;
  font-size: 1.2em;
}

.examplecode {
  display: inline-block;
  box-shadow: 0 0 5px rgb(255, 200, 150) inset;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 30px;
  border-radius: 4px;
  border: 1px solid white;
  min-width: 50%;
}

.node-name {
  color: white;
  font-size: 1.5em;
  padding-left: 35px;
  margin-top: -1px;
}

.node-desc {
  display: none;
}

.node {
  border-radius: 40%;
  background-color: black;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  background-color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  position: absolute;
}

.node:hover {
  background-color: white;
  box-shadow: 0 0 20px white;
  cursor: pointer;
}

.marketplacetree.treeparent .node-name {
  width: auto;
  margin-top: -7px;
  text-indent: 12px;
  font-weight: bold;
}

#chartpadding {
  padding-top: 200px;
  margin: 0 auto;
}

#marketcont {
  position: relative;
}
