/* HEADER */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/back.png);
  min-height: 100vh;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px black;
  transition: all 0.2s ease-in-out;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

nav li {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s ease-in-out;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

#runcont {
  float: right;
  background-color: rgba(100, 200, 255, 0.7);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  padding: 15px 70px;
}

#runcont:hover {
  background-color: white;
}

.activetab {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.tabwrapper {
  display: none;
  min-height: 100vh;
}

.activemain {
  display: block;
}


/* MAIN PAGE */

.splasher {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

/* BOXES */

section {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0 20px 0;
  border: 1px solid black;
}

section h2 {
  font-size: 1.8em;
  font-weight: 300;
}

section p {
  font-size: 1.2em;
  margin: 10px 0;
}


/* MARKETPLACE */

.node-name {
  color: white;
  font-size: 1.5em;
  padding-left: 35px;
  margin-top: -1px;
}

.node-desc {
  display: none;
}

.node {
  border-radius: 40%;
  background-color: black;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  background-color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  position: absolute;
}

.node:hover {
  background-color: white;
  box-shadow: 0 0 20px white;
  cursor: pointer;
}

.marketplacetree.treeparent .node-name {
  width: auto;
  margin-top: -7px;
  text-indent: 12px;
  font-weight: bold;
}

#chartpadding {
  padding-top: 200px;
}

#marketcont {
  position: relative;
  width: auto;
  margin: 0 auto;
  background: white;
}


/* SCRIPT VIEW */

#scriptviewcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.asidecontainer {
  background-image: url(img/back.png);
  padding: 15px;
  margin-bottom: 200px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 150px 20px black;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.asidecontainer div {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-size: 1.3em;
  user-select: none;
  cursor: default;
}

aside button {
  margin-left: 30px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

aside button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

aside h2 {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

aside h3 {
  padding-top: 6px;
  margin-left: 20px;
  font-size: 0.9em;
  align-self: center;
}

aside pre {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  white-space: pre-wrap;
  color: white;
  border: 0.5px solid white;
}


/* LEADERBOARD */

#leadercont {
  max-width: 700px;
  padding-top: 130px;
  margin: 0 auto;
}

.place {
  background-color: white;
  padding: 5px 15px;
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  border-radius: 5% 50%;
}

.firstplace {
  background: linear-gradient(to bottom, rgb(255, 215, 0), rgb(218, 165, 32));
}

.secondplace {
  background: linear-gradient(to bottom, rgb(192, 192, 192), rgb(119, 136, 153));
}

.thirdplace {
  background: linear-gradient(to bottom, rgb(230, 125, 50), rgb(180, 102, 55));
}

.time {
  padding: 10px 0;
  font-size: 1.2em;
  font-family: 'Source Code Pro', monospace;
  margin-left: 60px;
}

.millis {
  padding: 17px 0 10px 0;
  font-size: 0.7em;
  font-family: 'Source Code Pro', monospace;
  margin-right: 60px;
}

.nickname {
  font-size: 1.4em;
}

.leaderscriptbutton {
  float: right;
  background-color: black;
  color: white;
  padding: 6px 15px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 3px;
}

.leaderscriptbutton:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}


/* EDITOR */

#scripteditor,
#nameeditor {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  color: white;
  background-color: black;
  border: 1px solid white;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4em;
}

.CodeMirror {
  border: 1px solid black;
  font-size: 1.1em;
  border-radius: 5px;
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
  padding: 5px;
  height: auto;
}

#alleditorholder {
  position: relative;
}

.splitter {
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.splitter > div {
  flex: 1;
  margin: 0 10px;
  overflow-y: scroll;
  padding-top: 100px;
}

#scripteditor {
  resize: vertical;
  height: 75vh;
}

.function {
  font-family: 'Source Code Pro', monospace;
  padding: 0 3px;
  margin: 4px 10px 4px 0;
  display: inline-block;
  background-color: white;
  font-size: 1.1em;
  border-radius: 5px;
}

.inlinefunction {
  margin: 4px 5px;
}

.precaption {
  margin: 20px 0 5px 0;
  display: block;
  font-size: 1.2em;
}

.examplecode {
  display: inline-block;
  color: white;
  box-shadow: 0 0 5px rgb(255, 200, 150) inset;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 30px;
  border-radius: 4px;
  border: 1px solid white;
  min-width: 50%;
}


/* OPTIONS */

.optionsrow {
  padding: 10px 0;
}

.optionsrow li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
}

.optionsrow li:hover {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.selectedoption {
  border: 1px solid white !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}


/* RESULTS */

#resultsholder {

}
